/*spacing and margins*/
.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: .25rem !important;
}
.m-2 {
    margin: .5rem !important;
}
.m-3 {
    margin: 1rem !important;
}
.m-4 {
    margin: 1.5rem !important;
}
.m-5 {
    margin: 3rem !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mt-1 {
    margin-top: .25rem !important;
}
.mr-1 {
    margin-right: .25rem !important;
}
.mb-1 {
    margin-bottom: .25rem !important;
}
.ml-1 {
    margin-left: .25rem !important;
}
.mx-1 {
    margin-left: .25rem !important;
    margin-right: .25rem !important;
}
.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}
.mt-2 {
    margin-top: .5rem !important;
}
.mr-2 {
    margin-right: .5rem !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.ml-2 {
    margin-left: .5rem !important;
}
.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}
.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
` .mt-3 {
    margin-top: 1rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.my-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.my-auto {
    margin-bottom: auto !important;
    margin-top: auto !important;
}
.p-0 {
    padding: 0 !important;
}
.p-1 {
    padding: .25rem !important;
}
.p-2 {
    padding: .5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.pt-1 {
    padding-top: .25rem !important;
}
.pr-1 {
    padding-right: .25rem !important;
}
.pb-1 {
    padding-bottom: .25rem !important;
}
.pl-1 {
    padding-left: .25rem !important;
}
.px-1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}
.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}
.pt-2 {
    padding-top: .5rem !important;
}
.pr-2 {
    padding-right: .5rem !important;
}
.pb-2 {
    padding-bottom: .5rem !important;
}
.pl-2 {
    padding-left: .5rem !important;
}
.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.py-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}
.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}
.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
/*Margin and Padding helpers*/
/*xs*/
.p-xs {
    padding: .25em;
}
.p-x-xs {
    padding: 0 .25em;
}
.p-y-xs {
    padding: .25em 0;
}
.p-t-xs {
    padding-top: .25em;
}
.p-r-xs {
    padding-right: .25em;
}
.p-b-xs {
    padding-bottom: .25em;
}
.p-l-xs {
    padding-left: .25em;
}
.m-xs {
    margin: .25em;
}
.m-x-xs {
    margin: 0 .25em;
}
.m-y-xs {
    margin: .25em 0;
}
.m-r-xs {
    margin-right: .25em;
}
.m-l-xs {
    margin-left: .25em;
}
.m-t-xs {
    margin-top: .25em;
}
.m-b-xs {
    margin-bottom: .25em;
}
/*sm*/
@media (min-width:768px) {
    /*sm*/
    .p-sm {
        padding: .5em;
    }
    .p-x-sm {
        padding: 0 .5em;
    }
    .p-y-sm {
        padding: .5em 0;
    }
    .p-t-sm {
        padding-top: .5em;
    }
    .p-r-sm {
        padding-right: .5em;
    }
    .p-b-sm {
        padding-bottom: .5em;
    }
    .p-l-sm {
        padding-left: .5em;
    }
    .m-sm {
        margin: .5em;
    }
    .m-x-sm {
        margin: 0 .5em;
    }
    .m-y-sm {
        margin: .5em 0;
    }
    .m-t-sm {
        margin-top: .5em;
    }
    .m-r-sm {
        margin-right: .5em;
    }
    .m-b-sm {
        margin-bottom: .5em;
    }
    .m-l-sm {
        margin-left: .5em;
    }
}
/*md*/
@media (min-width: 992px) {
    .p-md {
        padding: 1em;
    }
    .p-x-md {
        padding: 0 1em;
    }
    .p-y-md {
        padding: 1em 0;
    }
    .p-t-md {
        padding-top: 1em;
    }
    .p-r-md {
        padding-right: 1em;
    }
    .p-b-md {
        padding-bottom: 1em;
    }
    .p-l-md {
        padding-left: 1em;
    }
    .m-md {
        margin: 1em;
    }
    .m-x-md {
        margin: 0 1em;
    }
    .m-y-md {
        margin: 1em 0;
    }
    .m-t-md {
        margin-top: 1em;
    }
    .m-r-md {
        margin-right: 1em;
    }
    .m-b-md {
        margin-bottom: 1em;
    }
    .m-l-md {
        margin-left: 1em;
    }
}
/*lg*/
@media (min-width: 1200px) {
    .p-lg {
        padding: 1.5em;
    }
    .p-x-lg {
        padding: 0 1.5em;
    }
    .p-y-lg {
        padding: 1.5em 0;
    }
    .p-t-lg {
        padding-top: 1.5em;
    }
    .p-r-lg {
        padding-right: 1.5em;
    }
    .p-b-lg {
        padding-bottom: 1.5em;
    }
    .p-l-lg {
        padding-left: 1.5em;
    }
    .m-lg {
        margin: 1.5em;
    }
    .m-x-lg {
        margin: 0 1.5em;
    }
    .m-y-lg {
        margin: 1.5em 0;
    }
    .m-t-lg {
        margin-top: 1.5em;
    }
    .m-r-lg {
        margin-right: 1.5em;
    }
    .m-b-lg {
        margin-bottom: 1.5em;
    }
    .m-l-lg {
        margin-left: 1.5em;
    }
}
/*xl*/
.p-xl {
    padding: 3em;
}
.p-x-xl {
    padding: 0 3em;
}
.p-y-xl {
    padding: 3em 0;
}
.p-t-xl {
    padding-top: 3em;
}
.p-r-xl {
    padding-right: 3em;
}
.p-b-xl {
    padding-bottom: 3em;
}
.p-l-xl {
    padding-left: 3em;
}
.m-xl {
    margin: 3em;
}
.m-x-xl {
    margin: 0 3em;
}
.m-y-xl {
    margin: 3em 0;
}
.m-t-xl {
    margin-top: 3em;
}
.m-r-xl {
    margin-right: 3em;
}
.m-b-xl {
    margin-bottom: 3em;
}
.m-l-xl {
    margin-left: 3em;
}
.d-none {
    display: none !important;
}
/*spacing and margins*/
.banner-three .text-column h2 {
    color: white;
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.font-weight-bold {
    font-weight: 600 !important;
}
.banner-three .text-column p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6) !important;
    margin: 0 0 20px;
}
.banner-three {
    padding-top: 250px;
}
.banner-three .text-column h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 14px 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #0bf4f3;
}
.video-open-icon:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
}
.video-open-icon:after {
    content: '';
    border-left: 12px solid #08c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -5px;
    /* border-radius: 50% !important;*/
}
.video-open-icon {
    display: inline-block;
    width: 64px;
    /* width: 4rem; */
    height: 64px;
    /* height: 4rem; */
    padding: 6px;
    padding: .375rem;
    transition: padding .2s;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.07);
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    margin-right: .5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}
.text-white {
    color: white !important;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    font-size: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.letter {
    /*	new styles*/
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-size: 63px;
    font-weight: 600;
    line-height: 54px;
    height: 54px;
}
.letter:before {
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: #212529;
}
.letter:nth-child(1):before {
    content: "8906124373465323545";
    margin-top: -63px;
    -webkit-animation-name: letter1;
    animation-name: letter1;
    -webkit-animation-duration: 0.72s;
    animation-duration: 0.72s;
    -webkit-animation-delay: 0.64s;
    animation-delay: 0.64s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter1 {
    from {
        margin-top: -54px;
    }
    to {
        margin-top: 54px;
    }
}
@keyframes letter1 {
    from {
        margin-top: -54px;
    }
    to {
        margin-top: 54px;
    }
}
.letter:nth-child(2):before {
    content: "5913435434546728";
    margin-top: -120px;
    -webkit-animation-name: letter2;
    animation-name: letter2;
    -webkit-animation-duration: 0.0333333333s;
    animation-duration: 0.0333333333s;
    -webkit-animation-delay: 0.99s;
    animation-delay: 0.99s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter2 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 54px;
    }
}
@keyframes letter2 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(3):before {
    content: "197635435345434308542";
    margin-top: -144px;
    -webkit-animation-name: letter3;
    animation-name: letter3;
    -webkit-animation-duration: 0.96s;
    animation-duration: 0.96s;
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter3 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter3 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(4):before {
    content: "85067413534329";
    margin-top: -96px;
    -webkit-animation-name: letter4;
    animation-name: letter4;
    -webkit-animation-duration: 1.92s;
    animation-duration: 1.92s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter4 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter4 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(5):before {
    content: "95428673543013";
    margin-top: -168px;
    -webkit-animation-name: letter5;
    animation-name: letter5;
    -webkit-animation-duration: 0.525s;
    animation-duration: 0.525s;
    -webkit-animation-delay: 0.85s;
    animation-delay: 0.85s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter5 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter5 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(6):before {
    content: "0692754435435831";
    margin-top: -144px;
    -webkit-animation-name: letter6;
    animation-name: letter6;
    -webkit-animation-duration: 1.68s;
    animation-duration: 1.68s;
    -webkit-animation-delay: 0.51s;
    animation-delay: 0.51s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter6 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter6 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(7):before {
    content: "5789123454354630";
    margin-top: -48px;
    -webkit-animation-name: letter7;
    animation-name: letter7;
    -webkit-animation-duration: 1.9466666667s;
    animation-duration: 1.9466666667s;
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter7 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter7 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(8):before {
    content: "05924313454535786";
    margin-top: -168px;
    -webkit-animation-name: letter8;
    animation-name: letter8;
    -webkit-animation-duration: 3.465s;
    animation-duration: 3.465s;
    -webkit-animation-delay: 0.01s;
    animation-delay: 0.01s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter8 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter8 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(9):before {
    content: "80265473454139";
    margin-top: -96px;
    -webkit-animation-name: letter9;
    animation-name: letter9;
    -webkit-animation-duration: 0.48s;
    animation-duration: 0.48s;
    -webkit-animation-delay: 0.85s;
    animation-delay: 0.85s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter9 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter9 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(10):before {
    content: "54963853450127";
    margin-top: -72px;
    -webkit-animation-name: letter10;
    animation-name: letter10;
    -webkit-animation-duration: 0.27s;
    animation-duration: 0.27s;
    -webkit-animation-delay: 0.91s;
    animation-delay: 0.91s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter10 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter10 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(11):before {
    content: "074186965546235";
    margin-top: -24px;
    -webkit-animation-name: letter11;
    animation-name: letter11;
    -webkit-animation-duration: 0.22s;
    animation-duration: 0.22s;
    -webkit-animation-delay: 0.89s;
    animation-delay: 0.89s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter11 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter11 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(12):before {
    content: "3915784646465620";
    margin-top: -216px;
    -webkit-animation-name: letter12;
    animation-name: letter12;
    -webkit-animation-duration: 1.332s;
    animation-duration: 1.332s;
    -webkit-animation-delay: 0.63s;
    animation-delay: 0.63s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter12 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter12 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(13):before {
    content: "6287514564560394";
    margin-top: -192px;
    -webkit-animation-name: letter13;
    animation-name: letter13;
    -webkit-animation-duration: 1.7777777778s;
    animation-duration: 1.7777777778s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter13 {
    from {
        margin-top: -192px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter13 {
    from {
        margin-top: -192px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(14):before {
    content: "7603185246546494";
    margin-top: -96px;
    -webkit-animation-name: letter14;
    animation-name: letter14;
    -webkit-animation-duration: 1.536s;
    animation-duration: 1.536s;
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /* display: none; */
}
@-webkit-keyframes letter14 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter14 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(15):before {
    content: "076598346465124";
    margin-top: -48px;
    -webkit-animation-name: letter15;
    animation-name: letter15;
    -webkit-animation-duration: 0.72s;
    animation-duration: 0.72s;
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter15 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter15 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 24px;
    }
}
.letter:nth-child(16):before {
    content: "683721446456590";
    margin-top: -72px;
    -webkit-animation-name: letter16;
    animation-name: letter16;
    -webkit-animation-duration: 0.84s;
    animation-duration: 0.84s;
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes letter16 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
@keyframes letter16 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 24px;
    }
}
/*testeing*/
.container-anim2 {
    display: flex;
}
.box {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
}
.block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}
.h1-anim2 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}
.span-anim2 {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ff3301;
    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}
.role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}
.block {
    width: 0%;
    height: inherit;
    background: #0bf4f3 !important;
    position: absolute;
    animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    display: flex;
    background-color: #0bf4f3 !important;
}
.p-anim2 {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ec5a10;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #ec5a10;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px
    }
    100% {
        width: 7px;
        height: 7px;
        background: #ec5a10;
        border: 0px solid #222;
        bottom: 13px;
    }
}
@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
.span-anim2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #232323;
    font-family: 'Poppins';
}
.i-anim2 {
    margin-right: 25px;
    font-size: 22px;
    color: #232323;
    animation: icon 2s forwards;
    animation-delay: 4s;
    opacity: 0;
}
@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px
    }
    100% {
        opacity: 1;
        bottom: 0px
    }
}
@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0.0);
    }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-02deg);
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}
.features-item img {
    margin: 20px 0 40px !important;
    height: 64px;
}
.features-item p {
    font-size: 14px;
    line-height: 22px;
}
.features-item {
    background: rgba(0, 0, 0, 0) url("../images/background/icon-bg.png") no-repeat scroll center top;
}
.features-item h5 {
    font-size: 19px;
    color: #333333;
    font-weight: 600;
}
.what-we-offer {
    background: rgba(0, 0, 0, 0) url("../images/background/path-2-copy-2.png") no-repeat scroll center center;
}
.shape-bg {
    background: rgba(0, 0, 0, 0) url("../images/background/path-2-copy-2.png") no-repeat scroll center center;
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 189px auto;
}
section.section.section-angled .section-angled-layer-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 0;
    padding: 3rem 0;
    transform: skewY(-0.7deg) translate3d(0, -50%, 0);
}
section.section.section-angled.section-angled-reverse .section-angled-layer-increase-angle.section-angled-layer-top {
    transform: skewY(1.7deg) translate3d(0, -50%, 0);
}
.dotPulse {
    -webkit-animation-name: dotPulse;
    animation-name: dotPulse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}
.background-svg-style-1 .dots {
    -webkit-filter: url(#shadow);
    filter: url(#shadow);
}
.background-svg-style-1 {
    position: absolute;
    top: 31px;
    width: 100vw;
}
.dark-ozzay {
    background: #212529;
}
.dark-ozzay .key-feature .text-column h3 {
    font-size: 1.80em;
    font-weight: 700;
    color: white;
}
.dark-ozzay .key-feature .text-column .text {
    color: #b9b9b9;
}
.dark-ozzay .sec-title-two.alternate h2 {
    color: white;
}
.dark-ozzay {
    color: white;
}
.section-angled-layer-top {
    transform: skewY(1.7deg) translate3d(0, -50%, 0);
}
.the-tablet {
    margin-bottom: -299px;
    z-index: 2;
    position: relative;
}
.the-tablet-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-phone {
    max-width: 200px;
}
.font-weight-regular, .font-weight-normal {
    font-weight: 400 !important;
}
.bg-white {
    background: white !important;
}
.text-7 {
    font-size: 2em !important;
}
.accordion .card-header a {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
}
.feature-box.feature-box-style-2 h4 {
    color: #ffffff;
    margin-bottom: 1.5rem;
}
.text-4 {
    font-size: 1.0em !important;
}
.enforcment p, .enforcment li {
    color: #ffffffd4;
    line-height: 26px;
    margin: 0 0 20px;
    font-size: 14px;
}
.enforcment h2, .overview-block-ptb h2  {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
    color: white;
}
#management h2{
    margin: 0 0 32px 0; 
}
.accordion .card-title {
    font-size: 16px;
}
.accordion.accordion-modern .card .card-header {
    background-color: #F7F7F7;
    border-radius: 0;
}
.accordion .card-header a {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.text-2 {
    font-size: .9em !important;
}
.text-2 {
    font-size: .9em !important;
}
html .text-color-dark, html .text-dark {
    color: #212529 !important;
}
.font-weight-semibold, .font-weight-semi-bold {
    font-weight: 600 !important;
}
.d-block {
    display: block !important;
}
.font-weight-semibold, .font-weight-semi-bold {
    font-weight: 500 !important;
}
.accordion.accordion-modern .card:first-of-type, .accordion.accordion-modern .card:not(:first-of-type):not(:last-of-type), .accordion.accordion-modern .card:last-of-type {
    border: 4px solid #F7F7F7;
}
.feature-box .feature-box-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 100%;
    color: #FFF;
    /*
    font-size: 16px;
    font-size: 1rem;
*/
    position: relative;
    top: 7px;
    text-align: center;
    padding: 0.8em;
    height: 1px;
    width: 3.7em;
    height: 3.7em;
}
.feature-box .feature-box-icon {
    background-color: #0088CC;
}
.feature-box.feature-box-style-2 .feature-box-icon {
    background: white;
    top: -3px;
}
html .text-color-primary, html .text-primary {
    color: #ec5b0e !important;
}
.feature-box.feature-box-style-2 .feature-box-icon [class*="fa-"], .feature-box.feature-box-style-2 .feature-box-icon .icons {
    font-size: 2em;
}
.feature-box {
    display: flex;
}
.bg-primary {
    background: #ec5b0e !important;
}
.feature-box .feature-box-info {
    flex: 1 1 100%;
    padding-left: 15px;
}
.img-small{
    display: none;
}
.revenue-enforcement {
    position: relative;
    background: #f2f5f8;
    padding: 130px 0px 190px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.management-section, .overview-block-ptb {
    position: relative;
    background: #f7f7f7;
    padding: 130px 0px;
}
.font-14 {
    font-size: 14px !important;
}
.text-black {
    color: black !important;
}
.default-list li {
    list-style: square;
    margin-left: 16px;
}
.the-rev-laptop {
    margin-top: -167px;
    height: 500px;
    max-width: fit-content;
    z-index: 20;
}
.the-rev-laptop img {
    max-width: 813px;
}
.bg-color-grey-scale-1 {
    background-color: #EDEDED !important;
}
.font-16 {
    font-size: 16px !important;
}
.text-grey {
    color: #777 !important;
}
.icon-04 {
    /*	background: #ec5b0e;*/
    color: white;
    font-size: 37px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.bg-success {
    background: #09af00 !important;
}
.bg-info {
    background: #1f75fe !important;
}
.bg-warning {
    background: #edc700 !important;
}
.bg-secondary {
    background-color: #212529 !important;
}
.bg-danger {
    background-color: #d70000;
}
.bg-1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.bg-2 {
    position: absolute;
    bottom: 0px;
    right: 14px;
}
.features-section-two {
    background: url("../images/background/shap.png");
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.bg-3 {
    position: absolute;
    bottom: -349px;
    left: -654px;
    transform: rotate(158deg);
	background: url("../images/background/shape_02.png");
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 50px;
	width: 100%;
	height: 50%;
}
.features-section-two::before {
    left: 0px;
    width: 100%;
    height: 50%;
    content: "";
    background: url("../images/background/city.svg");
    background-position: bottom left;
    width: 100%;
    height: 22%;
    background-repeat-y: no-repeat;
    z-index: 2;
    bottom: -1px;
    position: absolute;
}
.features-section-two::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    content: "";
    background: url("../images/background/sky.svg");
    background-position: bottom left;
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    right: 0px;
}
.form-style-2 .form-control {
    padding: 11.2px 16px;
    padding: 0.7rem 1rem;
    border: 0;
}
.form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 13.6px;
    /*    font-size: 0.85rem;*/
    line-height: 1.85;
}
.btn-rounded {
    border-radius: 35px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-style-2 .form-group {
    margin-bottom: 11.2px;
    margin-bottom: 0.7em;
}
.form-style-2 .form-control {
    padding: 11.2px 16px;
    /*    padding: 0.7rem 1rem;*/
    border: 0;
}
.font-14 {
    font-size: 14px !important;
}
.sec-title-two h2 {
    color: #00000e;
    font-weight: 700;
    font-size: 2.50em;
}
.map-container {
    min-height: 612px;
}
.nov-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-style-three .footer-bottom {
    position: relative;
    padding: 25px 35px 0px;
    background: #1c2023;
    color: #555;
}
.footer-style-three .footer-bottom .copyright {
    position: relative;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
}
.scroll-to-top {
    background: #ff3301;
}
.veta-foot {
    align-items: center;
    display: flex;
}
.opacity-5 {
    opacity: 0.5 !important;
}
.veta-foot img {
    height: 30px;
    margin-right: 2rem;
}
.footer-style-three {
    position: relative;
    font-weight: 500;
    background: #212529;
    background-size: 100% auto;
    font-size: 14px;
}
.footer-style-three .footer-ribbon {
    background: #0088CC;
}
.footer-style-three .footer-ribbon {
   background: #ff3301;
    position: absolute;
    margin: -44px 0 0 0;
    padding: 10px 20px 6px 20px;
    top: 13px;
}
.footer-style-three .footer-ribbon:before {
    border-right-color: #005580;
    border-left-color: #005580;
}
.footer-style-three .footer-ribbon:before {
    border-right: 10px solid #7a1b04;
    border-top: 16px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 100%;
    position: absolute;
    top: 0;
    width: 7px;
}
.footer-style-three .footer-ribbon span {
    color: #FFF;
    font-size: 1.6em;
    font-family: 'Mali', cursive;
}
.footer-style-three {
    position: relative;
    font-weight: 500;
    background: #212529;
    background-size: 100% auto;
    font-size: 14px;
}
.auto-container .universe-top {
    background: #0088CC;
}
.auto-container .universe-top {
    background: #ff3301;
    position: absolute;
    margin: -44px 0 0 0;
    padding: 10px 20px 6px 20px;
    bottom: -16px;
    z-index: 3;
    left: 15%;
}
.auto-container .universe-top:before {
    border-right-color: #005580;
    border-left-color: #005580;
}
.auto-container .universe-top:before {
   border-right: 10px solid #731a04;
    border-bottom: 16px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 100%;
    position: absolute;
    bottom: 0;
    width: 7px;
}
.auto-container .universe-top span {
    color: #FFF;
    font-size: 14px;
	font-family: 'Mali', cursive;
}
.position-relative{
	position: relative !important;
}
.footer-style-three .links li a{
	color: #777;
}
.footer-style-three .footer-upper h3 {
	color: white;
}
.footer-style-three .newsletter-widget .text, .footer-style-three .info li a, .footer-style-three .info li, .footer-style-three .text{
color: #777;	
}
.footer-style-three .footer-upper h3 {

    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    
    margin: 0 0 14px 0;
}


/* Animations */
.appear-animation {
	opacity: 0;
}

.appear-animation-visible {
	opacity: 1;
}

/* Transitions */
.transition-2ms {
	transition: all 0.2s ease-in-out;
}

/* Side Header Arrow Animations */
@-webkit-keyframes sideMenuArrow {
	0% {
		left: 5px;
	}

	50% {
		left: 10px;
	}

	100% {
		left: 5px;
	}
}

@keyframes sideMenuArrow {
	0% {
		left: 5px;
	}

	50% {
		left: 10px;
	}

	100% {
		left: 5px;
	}
}

@-webkit-keyframes sideMenuArrowBack {
	0% {
		right: 5px;
	}

	50% {
		right: 10px;
	}

	100% {
		right: 5px;
	}
}

@keyframes sideMenuArrowBack {
	0% {
		right: 5px;
	}

	50% {
		right: 10px;
	}

	100% {
		right: 5px;
	}
}
/* Mask Up */
@-webkit-keyframes maskUp {
	from {
		transform: translate(0, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes maskUp {
	from {
		transform: translate(0, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}
/* Mask Right */
@-webkit-keyframes maskRight {
	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes maskRight {
	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}
/* Mask Down */
@-webkit-keyframes maskDown {
	from {
		transform: translate(0, -100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes maskDown {
	from {
		transform: translate(0, -100%);
	}

	to {
		transform: translate(0, 0);
	}
}
/* Mask Left */
@-webkit-keyframes maskLeft {
	from {
		transform: translate(100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes maskLeft {
	from {
		transform: translate(100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

.maskUp {
	-webkit-animation-name: maskUp;
	animation-name: maskUp;
}

.maskRight {
	-webkit-animation-name: maskRight;
	animation-name: maskRight;
}

.maskDown {
	-webkit-animation-name: maskDown;
	animation-name: maskDown;
}

.maskLeft {
	-webkit-animation-name: maskLeft;
	animation-name: maskLeft;
}

@-webkit-keyframes headerReveal {
	from {
		top: -150px;
	}

	to {
		top: 0;
	}
}

@keyframes headerReveal {
	from {
		top: -150px;
	}

	to {
		top: 0;
	}
}
/* Fade In Up Shorter */
@-webkit-keyframes fadeInUpShorter {
	from {
		opacity: 0;
		transform: translate(0, 50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInUpShorter {
	from {
		opacity: 0;
		transform: translate(0, 50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUpShorter {
	-webkit-animation-name: fadeInUpShorter;
	animation-name: fadeInUpShorter;
}

/* Fade In Left Shorter */
@-webkit-keyframes fadeInLeftShorter {
	from {
		opacity: 0;
		transform: translate(50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInLeftShorter {
	from {
		opacity: 0;
		transform: translate(50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeftShorter {
	-webkit-animation-name: fadeInLeftShorter;
	animation-name: fadeInLeftShorter;
}

/* Fade In Right Shorter */
@-webkit-keyframes fadeInRightShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRightShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInRightShorter {
	-webkit-animation-name: fadeInRightShorter;
	animation-name: fadeInRightShorter;
}

/* Fade In Down Shorter */
@-webkit-keyframes fadeInDownShorter {
	from {
		opacity: 0;
		transform: translate(0, -50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInDownShorter {
	from {
		opacity: 0;
		transform: translate(0, -50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInDownShorter {
	-webkit-animation-name: fadeInDownShorter;
	animation-name: fadeInDownShorter;
}

/* Expand In */
@-webkit-keyframes expandIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes expandIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.expandIn {
	-webkit-animation-name: expandIn;
	animation-name: expandIn;
}

/* Gradient Transition */
@-webkit-keyframes gradientTransition {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientTransition {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
/* Slider Scroll Button Animation */
@-webkit-keyframes sliderScrollButton {
	0% {
		opacity: 1;
		transform: translate3d(-50%, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(-50%, 10px, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(-50%, 10px, 0);
	}
}

@keyframes sliderScrollButton {
	0% {
		opacity: 1;
		transform: translate3d(-50%, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(-50%, 10px, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(-50%, 10px, 0);
	}
}
/* Arrow Left Right */
@-webkit-keyframes arrowLeftRight {
	0% {
		transform: translate3d(-1px, 0, 0);
	}

	50% {
		transform: translate3d(1px, 0, 0);
	}

	100% {
		transform: translate3d(-1px, 0, 0);
	}
}

@keyframes arrowLeftRight {
	0% {
		transform: translate3d(-1px, 0, 0);
	}

	50% {
		transform: translate3d(1px, 0, 0);
	}

	100% {
		transform: translate3d(-1px, 0, 0);
	}
}
/* Nav Item Arrow */
@-webkit-keyframes navItemArrow {
	0% {
		position: relative;
		right: -1px;
	}

	50% {
		position: relative;
		right: 3px;
	}

	100% {
		position: relative;
		right: -1px;
	}
}

@keyframes navItemArrow {
	0% {
		position: relative;
		right: -1px;
	}

	50% {
		position: relative;
		right: 3px;
	}

	100% {
		position: relative;
		right: -1px;
	}
}
/* Hover 3d Effect */
.hover-in {
	transition: .1s ease-out !important;
}

.hover-out {
	transition: .1s ease-in !important;
}

.hover-3d {
	transition: none;
}

/* Hotspot */
@-webkit-keyframes hotspot-pulsate {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}

	45% {
		transform: scale(1.75);
		opacity: 0;
	}
}

@keyframes hotspot-pulsate {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}

	45% {
		transform: scale(1.75);
		opacity: 0;
	}
}

@-webkit-keyframes stop-hotspot-pulsate {
	from {
		opacity: 0.4;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes stop-hotspot-pulsate {
	from {
		opacity: 0.4;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}
/* Dot Pulse */
@-webkit-keyframes dotPulse {
	from {
		opacity: 1;
		transform: scale(0.2);
	}

	to {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes dotPulse {
	from {
		opacity: 1;
		transform: scale(0.2);
	}

	to {
		opacity: 0;
		transform: scale(1);
	}
}

.dotPulse {
	-webkit-animation-name: dotPulse;
	animation-name: dotPulse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

/* Blur In */
@-webkit-keyframes blurIn {
	from {
		opacity: 0;
		-webkit-filter: blur(20px);
		filter: blur(20px);
		transform: scale(1.3);
	}

	to {
		opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
		transform: none;
	}
}

@keyframes blurIn {
	from {
		opacity: 0;
		-webkit-filter: blur(20px);
		filter: blur(20px);
		transform: scale(1.3);
	}

	to {
		opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
		transform: none;
	}
}

.blurIn {
	-webkit-animation-name: blurIn;
	animation-name: blurIn;
}

/* Arrows */
.arrow {
	background: transparent url(../img/arrows.png) no-repeat 0 0;
	width: 47px;
	height: 120px;
	display: inline-block;
	position: relative;
}

.arrow.arrow-light {
	background-image: url(../img/arrows-dark.png);
}

.arrow.vtl {
	background-position: -101px 0;
	width: 47px;
	height: 96px;
}

.arrow.vtr {
	background-position: 0 0;
	width: 47px;
	height: 96px;
}

.arrow.vbl {
	background-position: -101px -144px;
	width: 47px;
	height: 96px;
}

.arrow.vbr {
	background-position: 0 -144px;
	width: 47px;
	height: 96px;
}

.arrow.hlt {
	background-position: -353px 0;
	width: 120px;
	height: 47px;
}

.arrow.hlb {
	background-position: -353px -101px;
	width: 120px;
	height: 47px;
}

.arrow.hrt {
	background-position: -209px 0;
	width: 120px;
	height: 47px;
}

.arrow.hrb {
	background-position: -209px -101px;
	width: 120px;
	height: 47px;
}
.index-5{
	z-index: 5;
}
.ceo-img{
	position: absolute;
	bottom: 0px;
	right: 15px;
	height: 100%;
    width: 100%;
    display: none;
}
.home-icon{
	padding: 0.7em;
	font-size: 24px;
	color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
    z-index: 5;
    display: none;
}
.home2{
	top: 38%;
	right: 46%;
	transform: rotate(23deg)
}
.home1{
	top: 28%;
	right: 52%;
	transform: rotate(53deg)
}
.home3{
	top: 25%px;
	right: 40%;
	transform: rotate(62deg)
}
.home4{
	top: 48%;
	right: 48%;
	transform: rotate(63deg)
}

.banner-three{
    background-position: center;
    background-attachment: fixed;
}

.preloader{
    background-image: url("../images/background/preloader.gif");
    background-color:black;
    background-size: 302px;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
    padding-bottom: 5rem;
}
.preloader img{
    height: 30px;
}
.preloader p{
    font-size: 13px;
    /* font-weight: 600; */
    /* letter-spacing: 5px; */
    color: #F47621;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.modal-header .close{
    float: right;
    position: absolute;
    right: 15px;
    top: 19px;
}
.modal-header{
    display: flex;
    /* justify-content: unset; */
    width: 100%;
    color: black;;
}
.modal-header button i{
    font-size: 39px;
    font-weight: 800;
    color: black;
}
.modal-body label{
    font-weight: 500;
    color: black;
    font-size: 14px;
}
.modal-img{
    background-image: url("../images/background/modalbg.jpg");
    background-size: contain;
    background-position: center;
    background-position: center bottom;
    background-attachment: inherit;
    width: 100%;
    height: 478px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-img::before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom right, #ff3301, #f4433661);
}
#booking-form .modal-dialog{
    width: 820px;
}
.img-cont h4{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.img-cont p{
    font-size: 13px;
}

.img-cont img{
    position: absolute;
    bottom: -28.5rem;
    width: 115px;
}
#booking-form .modal-header{
    display: none;
}

@media(max-width: 1140px){
    .flex-md-center{
        justify-content: center;
    }
    .col-md-h-auto{
        height: auto !important;
    }
    .the-rev-laptop{
        margin-top: 0px;
    }
    .the-rev-laptop img{
        max-width: 100%;
    }
    .feature-block-two .inner-box .icon{
        display: flex;
        justify-content: center;
    }
    .img-cont img{
        position: relative !important;
        bottom: auto;
        width: 115px;
    }
    .modal-img{
        position: absolute;
        height: 150px;
    }
}

.btn-info{
    background-color: #1976d2;   
}
.btn-info:hover{
    background-color: #2196F3;
}
.btn-mob{
    display: none;
}
#features .more-link-one{
    display: none;
}
@media (max-width:768px) {
    .btn-mob{
        display: inline-block;
    } 
    .sec-title-two.alternate h2{
        font-size: 1.8em !important;
    }
    .dark-ozzay .key-feature .text-column h3{
        font-size: 24px;
        font-weight: 500;
    }
    .key-feature .text-column .text{
        font-size: 14px;
    }
    .sec-title-two .desc-text{
        font-size: 16px;
    }
    .banner-three .text-column p{
        font-size: 13px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    }
    .col-sm-none{
        display: none;
    }
    .col-sm-block{
        display: block;
    }
    .banner-three{
        /* padding-top: 115px; */
    }
    .text-7{
        font-size: 1.5em !important;
    }
    .features-section-two .features-container{
        padding: 25px;
    }
    .feature-block-two .inner-box .text{
        font-size: 13px;
    }
    .auto-container .universe-top span{
        font-size: 12px;
    }
    .auto-container .universe-top{
        left: 36px;
    }
    .banner-three .text-column h2{
        color: white;
    font-weight: 600;
    font-size: 2.2em;
    text-transform: capitalize;
    display: none;
    text-align: center;
    justify-content: center;
    }
    .sm-display-none{
        display: none;
    }
    .sm-display-block{
        display: block !important;
    }
}

.iq-amazing-tab .nav-tabs li a {
    margin: 0;
    line-height: normal;
    border: none;
    border-radius: 0;
    padding: 0;
    color: #666;
    transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
}

.iq-fancy-box-01 {
    padding: 10px 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #fa6b29;
    border-radius: 90px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(247, 247, 247, 1);
    -moz-box-shadow: 0px 0px 0px 5px rgba(247, 247, 247, 1);
    box-shadow: 0px 0px 0px 5px rgba(247, 247, 247, 1);
}

.iq-fancy-box-01 i {
    font-size: 40px;
    float: left;
    margin-right: 15px;
    color: #fa6b29;
    margin-bottom: 15px;;
}

.iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:before {
    background: #ff3301;
    right: -10px;
    left: inherit;
}
.iq-fancy-box-01.text-right i {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.nav-tabs li.active a h4, .nav-tabs li.active a:hover h4, .nav-tabs li.active a:focus h4, .nav-tabs li.active a i, .nav-tabs li.active a:hover i, .nav-tabs li.active a:focus i {
    color: #fff;
}

.iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:after {
    content: "";
    position: absolute;
    z-index: 9;
    top: 50%;
    margin-top: -1px;
    right: 100%;
    width: 100px;
    height: 2px;
    display: inline-block;
    background: rgba(255,51,1, 1);
    background: -moz-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,51,1, 1)), color-stop(100%, rgba(228,96,31, 1)));
    background: -webkit-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -o-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: linear-gradient(to right, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3301', endColorstr='#fa6b29', GradientType=1);
}

.iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:after {
    right: inherit;
    left: 100%;
    background: rgba(255,51,1, 1);
    background: -moz-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,51,1, 1)), color-stop(100%, rgba(228,96,31, 1)));
    background: -webkit-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -o-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    background: linear-gradient(to right, rgba(255,51,1, 1) 0%, rgba(228,96,31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3301', endColorstr='#fa6b29', GradientType=1);
}

.fancy-content-01 {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    
}

.iq-tw-6 {
    font-weight: 600;
}

.iq-fancy-box-01.text-right h4 {
    display: inline-block;
    float: none;
}

.nav-tabs li.active a h4, .nav-tabs li.active a:hover h4, .nav-tabs li.active a:focus h4, .nav-tabs li.active a i, .nav-tabs li.active a:hover i, .nav-tabs li.active a:focus i {
    color: #fff;
}

.iq-fancy-box-01 i {
    font-size: 50px;
    float: left;
    margin-right: 15px;
    color: #fa6b29;
}

.iq-fancy-box-01.text-right i {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.nav-tabs li.active a h4, .nav-tabs li.active a:hover h4, .nav-tabs li.active a:focus h4, .nav-tabs li.active a i, .nav-tabs li.active a:hover i, .nav-tabs li.active a:focus i {
    color: #fff;
}

.iq-amazing-tab .nav-tabs li a {
    margin: 0;
    line-height: normal;
    border: none;
    border-radius: 0;
    padding: 0;
    color: #666;
    transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
}
.iq-amazing-tab .nav-tabs li {
    margin-top: 50px;
    margin-bottom: 0;
    float: left;
    display: inline-block;
    width: 100%;
}

.iq-fancy-box-01 h4 {
    margin: 15px 0 0;
    float: left;
    display: inline-block;
    font-size: 18px;
    color: #333333;
}

.iq-tw-6 {
    font-weight: 600;
}

::selection {
    background: #ff3301;
    color: #fff;
    text-shadow: none;
}

.iq-amazing-tab .nav-tabs {
    border: none;
}

.iq-amazing-tab .nav-tabs li.active a, .iq-amazing-tab .nav-tabs li.active a:hover, .iq-amazing-tab .nav-tabs li.active a:focus {
    color: #fff;
    border: none;
    left: -20px;
    /* background: rgba(228,96,31, 1); */
    background: -moz-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,96,31, 1)), color-stop(100%, rgba(255,51,1, 1)));
    background: -webkit-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -o-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -ms-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: linear-gradient(to right, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6b29', endColorstr='#ff3301', GradientType=1);
}
.iq-amazing-tab .nav-tabs li a {
    margin: 0;
    line-height: normal;
    border: none;
    border-radius: 0;
    padding: 0;
    color: #666;
    transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
}

.iq-amazing-tab .tab-content {
    background: url(../images/screenshots/phone2.png) no-repeat top center;
    padding: 87px 36px 99px 44px;
    background-size: 100% 100%;

    /* with pos */
    height: 600;
    width: 268px;

    
}
.tab-content>.tab-pane {
    display: none;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.iq-amazing-tab .tab-content .tab-pane img {
    width: 100%;
    width: 218px;

    /* with pos */
    position: absolute;
    left: 86px;
    bottom: 24px;
    /* right: 47px;*/
}

.tab-content>.active {
    display: block;
}
.d-flex{
    display: flex !important;
}
.justify-content-center{
    justify-content: center;
}

.iq-amazing-tab .nav-tabs li a:hover {
    color: #fff;
    border: none;
    background: rgba(228,96,31, 1);
    background: -moz-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,96,31, 1)), color-stop(100%, rgba(255,51,1, 1)));
    background: -webkit-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -o-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: -ms-linear-gradient(left, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    background: linear-gradient(to right, rgba(228,96,31, 1) 0%, rgba(255,51,1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6b29', endColorstr='#ff3301', GradientType=1);
}

.iq-amazing-tab .nav-tabs li a:hover h4 {
    color: #fff;
}
.iq-amazing-tab .nav-tabs li a:hover i {
    background: none;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: snow;
}

#testimonials .feature-box{
    margin-bottom: 2rem;
    margin-top: 3rem;
}

/* Home Concept */
.home-concept {
	background: transparent url(../images/home/home-concept.png) no-repeat center 0;
	width: 100%;
    overflow: hidden;
    background-size: contain;
}

.home-concept strong {
	display: block;
	font-family: "Shadows Into Light", cursive;
	font-size: 2.2rem;
    font-weight: normal !important;
    position: relative;
    margin-top: 30px;
    color: #e85a10;
}

.home-concept .row {
	position: relative;
}

.home-concept .process-image {
	background: transparent url(../images/home/home-concept-item.png) no-repeat 0 0;
	width: 160px;
	margin: 120px auto 0 auto;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}

.home-concept .process-image img {
	border-radius: 150px;
	margin: 7px 8px;
	width: auto;
	height: auto;
	max-width: 145px;
	max-height: 145px;
}

@media (min-width: 992px) {
	.home-concept .process-image.process-image-on-middle {
		margin-top: 95px;
	}
}

.home-concept .our-work {
	margin-top: 52px;
	font-size: 2.2em;
}

.home-concept .project-image {
	background: transparent url(../images/home/home-concept-item.png) no-repeat 100% 0;
	width: 350px;
	margin: 20px 0 0 -30px;
	padding-bottom: 45px;
	position: relative;
	z-index: 1;
}

.home-concept .sun {
	background: transparent url(../images/home/home-concept-icons.png) no-repeat 0 0;
	width: 60px;
	height: 56px;
	display: block;
	position: absolute;
	left: 0;
	top: 65px;
}

.home-concept .cloud {
	background: transparent url(../images/home/home-concept-icons.png) no-repeat 100% 0;
	width: 116px;
	height: 56px;
	display: block;
	position: absolute;
	left: 31%;
	top: 35px;
}

/* Responsive */
@media (max-width: 991px) {
	.home-concept {
		background-image: none;
	}

	.home-concept .project-image {
		margin: 20px auto 0 auto;
	}

	.home-concept .process-image {
		margin-top: 0;
		padding-bottom: 25px;
	}
}

@media (max-width: 479px) {
	.home-concept .project-image {
		background-position: 0 0;
		margin-left: auto;
		max-width: 160px;
	}

	.home-concept .fc-slideshow {
		max-width: 145px;
		height: 145px;
	}

	.home-concept .fc-slideshow img {
		max-height: 145px;
		max-width: 145px;
	}
}

.text-center {
    text-align: center!important;
}




@media only screen and (max-width: 1200px) {
    .iq-amazing-tab .tab-content .tab-pane img {
     left: 52px;
    }
  }

  @media (max-width: 1199px){
.iq-fancy-box-01 {
    padding: 10px 30px;
}

.iq-amazing-tab .nav-tabs li {
    margin-top: 20px;
}

.iq-amazing-tab .tab-content {
    padding: 74px 30px 82px 36px;
}

}

@media (max-width: 992px){
    .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
        left: 0px !important;
    }
}

@media (max-width: 1199px)
{
    .iq-fancy-box-01 i {
        font-size: 40px;
    }
}

@media (max-width: 991px) and (min-width: 768px)
{
    .hidden-sm {
        display: none !important;
    }
    .iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:after{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:before{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:after{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:before{
        display: none;
    }
    .nav-tabs li.active a.round-right{
        right: 0px;
        left: 0px;
    }
    
    
}

@media (max-width: 767px)
{
    .hidden-xs {
        display: none !important;
    }
    .iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:after{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a.round-right .iq-fancy-box-01:before{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:after{
        display: none;
    }
    .iq-amazing-tab .nav-tabs li.active a .iq-fancy-box-01:before{
        display: none;
    }
    .nav-tabs li.active a.round-right{
        right: 0px;
        left: 0px;
    }
}

@media (min-width: 992px){
    .ml-lg-auto, .mx-lg-auto {
        margin-left: auto!important;
    }

    .ml-lg-5, .mx-lg-5 {
        margin-left: 3rem!important;
    }
    
}

@media (min-width: 992px){
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
/* .nav-tabs li.active a.round-right, .nav-tabs li.active a.round-right:hover, .nav-tabs li.active a.round-right:focus {
    right: -20px;
    left: inherit;
} */






